body{
  width: 100%;
}

.color-picker-container{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  border: 10px solid rgb(58, 61, 58);
  margin: 50px;
  padding: 20px;
}
.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.color-display p{
  font-size: 20px;
  text-align: center;
  color: hsl(0, 4%, 16%);
}
input[type="color"]{
  width: 150px;
  height: 100px;
  border-radius: 20px;
  border: 2px solid grey;
  margin-bottom: 20px;
  padding: 10px;

}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
}